.remove-button {
    position: relative;
    float: right;
    clear: both;
    cursor: pointer;
}

.todo-list {
    margin-top: 10px;
    font-weight: bold;
}

.list {
    height: 250px;;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}